<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="depth" value="2" />
        <add key="maxSize" value="800" />
        <add key="maxDown" value="4" />
        <add key="savePath" value="C:/t" />
    </appSettings>
</configuration>